#main
{
    display: none;
}

#loading
{
    display: block;
}

.grid-container
{
    display: grid;
    grid-template-columns: auto auto;
}

.narrow
{
    width: 5em;
}

.overflow
{
    width: 400px;
    height: 520px;
    overflow: scroll;
}
