#main
{
    display: none;
}

#loading
{
    display: block;
}

.grid-container1
{
    display: grid;
    grid-template-columns: 600px 600px;
    grid-column-gap: 10px;
}

.grid-container2
{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-column-gap: 10px;
    align-items: end;
}

.grid-container3
{
    display: grid;
    grid-template-columns: 250px 250px;
    grid-column-gap: 10px;  
}

.rowspan2
{
    grid-row: 1 / span 2;
}

.colspan4
{
    grid-column: 1 / span 4;
}

.narrow
{
    width: 5em;
}

.overflow
{
    width: 250px;
    height: 320px;
    overflow: scroll;
    overflow-x: hidden;
}

.bordered_table
{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}